# Lakukan uji univariat terhadap masing-masing variabel sales dan profit untuk mengetahui  (mean, median, standar deviasi dan variansi)

In [1]:
import pandas as pd
import statistics
import datetime

In [2]:
df = pd.read_csv("dataset_superstore_simple.csv")
df

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
...,...,...,...,...,...,...,...,...,...
9983,CA-2014-110422,1/21/2014,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028
9984,CA-2017-121258,2/26/2017,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
9985,CA-2017-121258,2/26/2017,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
9986,CA-2017-121258,2/26/2017,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
9987,CA-2017-119914,5/4/2017,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480

## Menghitung mean

In [3]:
a = df['sales']
a

0       261.9600
1       731.9400
2        14.6200
3       957.5775
4        22.3680
          ...
9983     25.2480
9984     91.9600
9985    258.5760
9986     29.6000
9987    243.1600
Name: sales, Length: 9988, dtype: float64

In [4]:
#membuat variabel rata rata
mean = sum(a)/len(a)
mean

221.9525978474123

## Menghitung median

In [5]:
#membuat variable median
median = statistics.median(a)
median

54.376000000000005

## Menghitung Standard Deviasi

In [6]:
std = statistics.stdev(a)
std

514.8180427890117

## Menghitung Variance

In [7]:
var = statistics.variance(a)
var

265037.6171811087