# 3. Visualisasikan hubungan data antara variabel, sales dan profit
pada tahun 2015-2016.

In [1]:
import pandas as pd
import statistics
import datetime

In [2]:
df = pd.read_csv("dataset_superstore_simple.csv")
df

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
...,...,...,...,...,...,...,...,...,...
9983,CA-2014-110422,1/21/2014,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028
9984,CA-2017-121258,2/26/2017,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
9985,CA-2017-121258,2/26/2017,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
9986,CA-2017-121258,2/26/2017,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
9987,CA-2017-119914,5/4/2017,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480

In [3]:
#memasukkan data order_date ke variabel baru
b = df["order_date"]
b

0        11/8/2016
1        11/8/2016
2        6/12/2016
3       10/11/2015
4       10/11/2015
           ...
9983     1/21/2014
9984     2/26/2017
9985     2/26/2017
9986     2/26/2017
9987      5/4/2017
Name: order_date, Length: 9988, dtype: object

In [4]:
#mengecek info dari jenis data dari setiap
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9988 entries, 0 to 9987
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      9988 non-null   object
 1   order_date    9988 non-null   object
 2   customer_id   9988 non-null   object
 3   segment       9988 non-null   object
 4   category      9988 non-null   object
 5   sub_category  9988 non-null   object
 6   sales         9988 non-null   float64
 7   quantity      9988 non-null   int64
 8   profit        9988 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 702.4+ KB

In [5]:
#merubah jenis data order date menjadi date time
b = pd.to_datetime(b)
b

0      2016-11-08
1      2016-11-08
2      2016-06-12
3      2015-10-11
4      2015-10-11
          ...
9983   2014-01-21
9984   2017-02-26
9985   2017-02-26
9986   2017-02-26
9987   2017-05-04
Name: order_date, Length: 9988, dtype: datetime64[ns]

In [6]:
#mengambil jenis tahun dari variabel b
c = b.dt.year
c

0       2016
1       2016
2       2016
3       2015
4       2015
        ...
9983    2014
9984    2017
9985    2017
9986    2017
9987    2017
Name: order_date, Length: 9988, dtype: int64

In [7]:
#memasukkan dua variabel: year dan month ke dalam data frame
df["year"] = b.dt.year
df["order_month"] = b.dt.month
df

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,year,order_month
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136,2016,11
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820,2016,11
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714,2016,6
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310,2015,10
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164,2015,10
...,...,...,...,...,...,...,...,...,...,...,...
9983,CA-2014-110422,1/21/2014,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028,2014,1
9984,CA-2017-121258,2/26/2017,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332,2017,2
9985,CA-2017-121258,2/26/2017,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932,2017,2
9986,CA-2017-121258,2/26/2017,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200,2017,2
9987,CA-2017-119914,5/4/2017,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480,2017,5

In [8]:
#mengelompokkan data berdasarkan tahun 2015saja
new_dfa = df[df["year"]==2015]
new_dfa

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,year,order_month
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310,2015,10
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164,2015,10
14,US-2015-118983,11/22/2015,HP-14815,Home Office,Office Supplies,Appliances,68.8100,5,-123.8580,2015,11
15,US-2015-118983,11/22/2015,HP-14815,Home Office,Office Supplies,Binders,2.5440,3,-3.8160,2015,11
24,CA-2015-106320,9/25/2015,EB-13870,Consumer,Furniture,Tables,1044.6300,3,240.2649,2015,9
...,...,...,...,...,...,...,...,...,...,...,...
9964,CA-2015-103772,6/28/2015,MP-17470,Home Office,Office Supplies,Binders,119.5600,2,54.9976,2015,6
9965,CA-2015-103772,6/28/2015,MP-17470,Home Office,Office Supplies,Art,140.7500,5,42.2250,2015,6
9974,US-2015-151435,9/6/2015,SW-20455,Consumer,Furniture,Tables,85.9800,1,22.3548,2015,9
9978,CA-2015-100251,5/17/2015,DV-13465,Consumer,Office Supplies,Labels,31.5000,10,15.1200,2015,5
9979,CA-2015-100251,5/17/2015,DV-13465,Consumer,Office Supplies,Supplies,55.6000,4,16.1240,2015,5

In [9]:
#mengelompokkan data berdasarkan tahun 2016 saja
new_dfb = df[df["year"]==2016]
new_dfb

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,year,order_month
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.960,2,41.9136,2016,11
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.940,3,219.5820,2016,11
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.620,2,6.8714,2016,6
13,CA-2016-161389,12/5/2016,IM-15070,Consumer,Office Supplies,Binders,407.976,3,132.5922,2016,12
21,CA-2016-137330,12/9/2016,KB-16585,Corporate,Office Supplies,Art,19.460,7,5.0596,2016,12
...,...,...,...,...,...,...,...,...,...,...,...
9972,US-2016-103674,12/6/2016,AP-10720,Home Office,Office Supplies,Binders,13.376,4,4.6816,2016,12
9973,US-2016-103674,12/6/2016,AP-10720,Home Office,Office Supplies,Binders,437.472,14,153.1152,2016,12
9976,US-2016-157728,9/22/2016,RC-19960,Consumer,Office Supplies,Paper,35.560,7,16.7132,2016,9
9977,US-2016-157728,9/22/2016,RC-19960,Consumer,Technology,Phones,97.980,2,27.4344,2016,9
9980,CA-2016-125794,9/29/2016,ML-17410,Consumer,Technology,Accessories,36.240,1,15.2208,2016,9

In [10]:
#merubah kolom order_date menjadi date time
#dataframe[kolom] = pd.to_datetime(dataframe["kolom"])
new_dfa["order_date"] = pd.to_datetime(new_dfa["order_date"])
new_dfb["order_date"] = pd.to_datetime(new_dfb["order_date"])

<ipython-input-10-c30f067e4a8b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dfa["order_date"] = pd.to_datetime(new_dfa["order_date"])
<ipython-input-10-c30f067e4a8b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dfb["order_date"] = pd.to_datetime(new_dfb["order_date"])

In [11]:
new_dfa

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,year,order_month
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310,2015,10
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164,2015,10
14,US-2015-118983,2015-11-22,HP-14815,Home Office,Office Supplies,Appliances,68.8100,5,-123.8580,2015,11
15,US-2015-118983,2015-11-22,HP-14815,Home Office,Office Supplies,Binders,2.5440,3,-3.8160,2015,11
24,CA-2015-106320,2015-09-25,EB-13870,Consumer,Furniture,Tables,1044.6300,3,240.2649,2015,9
...,...,...,...,...,...,...,...,...,...,...,...
9964,CA-2015-103772,2015-06-28,MP-17470,Home Office,Office Supplies,Binders,119.5600,2,54.9976,2015,6
9965,CA-2015-103772,2015-06-28,MP-17470,Home Office,Office Supplies,Art,140.7500,5,42.2250,2015,6
9974,US-2015-151435,2015-09-06,SW-20455,Consumer,Furniture,Tables,85.9800,1,22.3548,2015,9
9978,CA-2015-100251,2015-05-17,DV-13465,Consumer,Office Supplies,Labels,31.5000,10,15.1200,2015,5
9979,CA-2015-100251,2015-05-17,DV-13465,Consumer,Office Supplies,Supplies,55.6000,4,16.1240,2015,5

In [13]:
new_dfb

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,year,order_month
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.960,2,41.9136,2016,11
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.940,3,219.5820,2016,11
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.620,2,6.8714,2016,6
13,CA-2016-161389,2016-12-05,IM-15070,Consumer,Office Supplies,Binders,407.976,3,132.5922,2016,12
21,CA-2016-137330,2016-12-09,KB-16585,Corporate,Office Supplies,Art,19.460,7,5.0596,2016,12
...,...,...,...,...,...,...,...,...,...,...,...
9972,US-2016-103674,2016-12-06,AP-10720,Home Office,Office Supplies,Binders,13.376,4,4.6816,2016,12
9973,US-2016-103674,2016-12-06,AP-10720,Home Office,Office Supplies,Binders,437.472,14,153.1152,2016,12
9976,US-2016-157728,2016-09-22,RC-19960,Consumer,Office Supplies,Paper,35.560,7,16.7132,2016,9
9977,US-2016-157728,2016-09-22,RC-19960,Consumer,Technology,Phones,97.980,2,27.4344,2016,9
9980,CA-2016-125794,2016-09-29,ML-17410,Consumer,Technology,Accessories,36.240,1,15.2208,2016,9

In [14]:
#merubah kolom order date menjadi format %Y-%m-01
#dataframe["month"] = dataframe.kolom.dt.strftime("%Y-%m-01")
new_dfa["month"] = new_dfa.order_date.dt.strftime("%Y-%m-01")
new_dfb["month"] = new_dfb.order_date.dt.strftime("%Y-%m-01")

<ipython-input-14-f29c979e4a83>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dfa["month"] = new_dfa.order_date.dt.strftime("%Y-%m-01")
<ipython-input-14-f29c979e4a83>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dfb["month"] = new_dfb.order_date.dt.strftime("%Y-%m-01")

In [15]:
new_dfa

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,year,order_month,month
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310,2015,10,2015-10-01
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164,2015,10,2015-10-01
14,US-2015-118983,2015-11-22,HP-14815,Home Office,Office Supplies,Appliances,68.8100,5,-123.8580,2015,11,2015-11-01
15,US-2015-118983,2015-11-22,HP-14815,Home Office,Office Supplies,Binders,2.5440,3,-3.8160,2015,11,2015-11-01
24,CA-2015-106320,2015-09-25,EB-13870,Consumer,Furniture,Tables,1044.6300,3,240.2649,2015,9,2015-09-01
...,...,...,...,...,...,...,...,...,...,...,...,...
9964,CA-2015-103772,2015-06-28,MP-17470,Home Office,Office Supplies,Binders,119.5600,2,54.9976,2015,6,2015-06-01
9965,CA-2015-103772,2015-06-28,MP-17470,Home Office,Office Supplies,Art,140.7500,5,42.2250,2015,6,2015-06-01
9974,US-2015-151435,2015-09-06,SW-20455,Consumer,Furniture,Tables,85.9800,1,22.3548,2015,9,2015-09-01
9978,CA-2015-100251,2015-05-17,DV-13465,Consumer,Office Supplies,Labels,31.5000,10,15.1200,2015,5,2015-05-01
9979,CA-2015-100251,2015-05-17,DV-13465,Consumer,Office Supplies,Supplies,55.6000,4,16.1240,2015,5,2015-05-01

In [16]:
new_dfb

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,year,order_month,month
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.960,2,41.9136,2016,11,2016-11-01
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.940,3,219.5820,2016,11,2016-11-01
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.620,2,6.8714,2016,6,2016-06-01
13,CA-2016-161389,2016-12-05,IM-15070,Consumer,Office Supplies,Binders,407.976,3,132.5922,2016,12,2016-12-01
21,CA-2016-137330,2016-12-09,KB-16585,Corporate,Office Supplies,Art,19.460,7,5.0596,2016,12,2016-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...
9972,US-2016-103674,2016-12-06,AP-10720,Home Office,Office Supplies,Binders,13.376,4,4.6816,2016,12,2016-12-01
9973,US-2016-103674,2016-12-06,AP-10720,Home Office,Office Supplies,Binders,437.472,14,153.1152,2016,12,2016-12-01
9976,US-2016-157728,2016-09-22,RC-19960,Consumer,Office Supplies,Paper,35.560,7,16.7132,2016,9,2016-09-01
9977,US-2016-157728,2016-09-22,RC-19960,Consumer,Technology,Phones,97.980,2,27.4344,2016,9,2016-09-01
9980,CA-2016-125794,2016-09-29,ML-17410,Consumer,Technology,Accessories,36.240,1,15.2208,2016,9,2016-09-01

In [25]:
#membuat line chart yang sangat banyak 2015
df_monthly_sales_category1 = new_dfa.groupby("month").agg({"sales":"sum","profit":"sum"})
df_monthly_sales_category1 = df_monthly_sales_category1.reset_index()

In [26]:
#membuat line chart yang sangat banyak 2016
df_monthly_sales_category2 = new_dfb.groupby("month").agg({"sales":"sum","profit":"sum"})
df_monthly_sales_category2 = df_monthly_sales_category2.reset_index()

In [27]:
df_monthly_sales_category1

         month       sales      profit
0   2015-01-01  18174.0756  -3281.0070
1   2015-02-01  11951.4110   2813.8508
2   2015-03-01  38726.2520   9732.0978
3   2015-04-01  34195.2085   4187.4962
4   2015-05-01  30131.6865   4667.8690
5   2015-06-01  24797.2920   3335.5572
6   2015-07-01  28765.3250   3288.6483
7   2015-08-01  36898.3322   5355.8084
8   2015-09-01  64595.9180   8209.1627
9   2015-10-01  31404.9235   2817.3660
10  2015-11-01  75972.5635  12474.7884
11  2015-12-01  74919.5212   8016.9659

In [28]:
df_monthly_sales_category2

         month       sales      profit
0   2016-01-01  18542.4910   2824.8233
1   2016-02-01  22978.8150   5004.5795
2   2016-03-01  51715.8750   3611.9680
3   2016-04-01  38750.0390   2977.8149
4   2016-05-01  56987.7280   8662.1464
5   2016-06-01  40344.5340   4750.3781
6   2016-07-01  39261.9630   4432.8779
7   2016-08-01  31115.3743   2062.0693
8   2016-09-01  73410.0249   9328.6576
9   2016-10-01  42187.7950   7843.1665
10  2016-11-01  74911.9808  10611.3855
11  2016-12-01  96999.0430  17885.3093

In [40]:
#menggabungkan kedua data frame
df_concat = pd.concat([df_monthly_sales_category1,df_monthly_sales_category2])
df_concat

         month       sales      profit
0   2015-01-01  18174.0756  -3281.0070
1   2015-02-01  11951.4110   2813.8508
2   2015-03-01  38726.2520   9732.0978
3   2015-04-01  34195.2085   4187.4962
4   2015-05-01  30131.6865   4667.8690
5   2015-06-01  24797.2920   3335.5572
6   2015-07-01  28765.3250   3288.6483
7   2015-08-01  36898.3322   5355.8084
8   2015-09-01  64595.9180   8209.1627
9   2015-10-01  31404.9235   2817.3660
10  2015-11-01  75972.5635  12474.7884
11  2015-12-01  74919.5212   8016.9659
0   2016-01-01  18542.4910   2824.8233
1   2016-02-01  22978.8150   5004.5795
2   2016-03-01  51715.8750   3611.9680
3   2016-04-01  38750.0390   2977.8149
4   2016-05-01  56987.7280   8662.1464
5   2016-06-01  40344.5340   4750.3781
6   2016-07-01  39261.9630   4432.8779
7   2016-08-01  31115.3743   2062.0693
8   2016-09-01  73410.0249   9328.6576
9   2016-10-01  42187.7950   7843.1665
10  2016-11-01  74911.9808  10611.3855
11  2016-12-01  96999.0430  17885.3093

In [41]:
import numpy as np
import plotly
import pandas as pd
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)

In [42]:
#membuat library scipy untuk membuat trend line
from scipy import stats

In [43]:
slope, intercept, r_value, p_value, std_err = stats.linregress(x=df_concat.sales, y=df_concat.profit)
lines = slope * df_concat.sales.values + intercept
lines

array([ 1644.16800715,   621.47004613,  5021.9282192 ,  4277.24901076,
        3609.40718879,  2732.6968518 ,  3384.84501006,  4721.50870883,
        9273.62043969,  3818.66431054, 11143.37767457, 10970.30965913,
        1704.71725777,  2433.82927021,  7156.77909266,  5025.83762425,
        8023.21070363,  5287.89365494,  5109.97258325,  3771.07675834,
       10722.22320623,  5590.83449901, 10969.07039071, 14599.08983237])

In [44]:
#membuat scatter plot
dot = go.Scatter(
    x = df_concat.sales,
    y = df_concat.profit,
    mode = "markers",
    name = "Sales vs Profit 2015 - 2016"
)

line = go.Scatter(
    x=df_concat.sales,
    y=lines,
    name="Linear Trend Line"
)

data = [dot,line]

fig = go.Figure(data = data)
iplot(fig)