## 2. Visualisasikan data histori sales selama tahun 2015 dalam bentuk grafik.

In [1]:
import pandas as pd
import statistics
import datetime

In [2]:
df = pd.read_csv("dataset_superstore_simple.csv")
df

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
...,...,...,...,...,...,...,...,...,...
9983,CA-2014-110422,1/21/2014,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028
9984,CA-2017-121258,2/26/2017,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
9985,CA-2017-121258,2/26/2017,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
9986,CA-2017-121258,2/26/2017,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
9987,CA-2017-119914,5/4/2017,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480

In [3]:
#memasukkan data order_date ke variabel baru
b = df["order_date"]
b

0        11/8/2016
1        11/8/2016
2        6/12/2016
3       10/11/2015
4       10/11/2015
           ...
9983     1/21/2014
9984     2/26/2017
9985     2/26/2017
9986     2/26/2017
9987      5/4/2017
Name: order_date, Length: 9988, dtype: object

In [4]:
#mengecek info dari jenis data dari setiap
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9988 entries, 0 to 9987
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      9988 non-null   object
 1   order_date    9988 non-null   object
 2   customer_id   9988 non-null   object
 3   segment       9988 non-null   object
 4   category      9988 non-null   object
 5   sub_category  9988 non-null   object
 6   sales         9988 non-null   float64
 7   quantity      9988 non-null   int64
 8   profit        9988 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 702.4+ KB

In [5]:
#merubah jenis data order date menjadi date time
b = pd.to_datetime(b)
b

0      2016-11-08
1      2016-11-08
2      2016-06-12
3      2015-10-11
4      2015-10-11
          ...
9983   2014-01-21
9984   2017-02-26
9985   2017-02-26
9986   2017-02-26
9987   2017-05-04
Name: order_date, Length: 9988, dtype: datetime64[ns]

In [6]:
#mengambil jenis tahun dari variabel b
c = b.dt.year
c

0       2016
1       2016
2       2016
3       2015
4       2015
        ...
9983    2014
9984    2017
9985    2017
9986    2017
9987    2017
Name: order_date, Length: 9988, dtype: int64

In [7]:
#memasukkan dua variabel: year dan month ke dalam data frame
df["year"] = b.dt.year
df["order_month"] = b.dt.month
df

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,year,order_month
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136,2016,11
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820,2016,11
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714,2016,6
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310,2015,10
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164,2015,10
...,...,...,...,...,...,...,...,...,...,...,...
9983,CA-2014-110422,1/21/2014,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028,2014,1
9984,CA-2017-121258,2/26/2017,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332,2017,2
9985,CA-2017-121258,2/26/2017,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932,2017,2
9986,CA-2017-121258,2/26/2017,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200,2017,2
9987,CA-2017-119914,5/4/2017,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480,2017,5

In [8]:
#mengelompokkan data berdasarkan tahun saja
new_df = df[df["year"]==2015]
new_df

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,year,order_month
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310,2015,10
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164,2015,10
14,US-2015-118983,11/22/2015,HP-14815,Home Office,Office Supplies,Appliances,68.8100,5,-123.8580,2015,11
15,US-2015-118983,11/22/2015,HP-14815,Home Office,Office Supplies,Binders,2.5440,3,-3.8160,2015,11
24,CA-2015-106320,9/25/2015,EB-13870,Consumer,Furniture,Tables,1044.6300,3,240.2649,2015,9
...,...,...,...,...,...,...,...,...,...,...,...
9964,CA-2015-103772,6/28/2015,MP-17470,Home Office,Office Supplies,Binders,119.5600,2,54.9976,2015,6
9965,CA-2015-103772,6/28/2015,MP-17470,Home Office,Office Supplies,Art,140.7500,5,42.2250,2015,6
9974,US-2015-151435,9/6/2015,SW-20455,Consumer,Furniture,Tables,85.9800,1,22.3548,2015,9
9978,CA-2015-100251,5/17/2015,DV-13465,Consumer,Office Supplies,Labels,31.5000,10,15.1200,2015,5
9979,CA-2015-100251,5/17/2015,DV-13465,Consumer,Office Supplies,Supplies,55.6000,4,16.1240,2015,5

In [9]:
#mengecek jenis tahun dari setiap data 
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2102 entries, 3 to 9979
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      2102 non-null   object
 1   order_date    2102 non-null   object
 2   customer_id   2102 non-null   object
 3   segment       2102 non-null   object
 4   category      2102 non-null   object
 5   sub_category  2102 non-null   object
 6   sales         2102 non-null   float64
 7   quantity      2102 non-null   int64
 8   profit        2102 non-null   float64
 9   year          2102 non-null   int64
 10  order_month   2102 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 197.1+ KB

In [10]:
#merubah order_date menjadi datetime
new_df["order_date"] = pd.to_datetime(new_df["order_date"])
new_df["order_date"]

<ipython-input-10-57ad54617bd3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["order_date"] = pd.to_datetime(new_df["order_date"])

3      2015-10-11
4      2015-10-11
14     2015-11-22
15     2015-11-22
24     2015-09-25
          ...
9964   2015-06-28
9965   2015-06-28
9974   2015-09-06
9978   2015-05-17
9979   2015-05-17
Name: order_date, Length: 2102, dtype: datetime64[ns]

In [11]:
new_df

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,year,order_month
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310,2015,10
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164,2015,10
14,US-2015-118983,2015-11-22,HP-14815,Home Office,Office Supplies,Appliances,68.8100,5,-123.8580,2015,11
15,US-2015-118983,2015-11-22,HP-14815,Home Office,Office Supplies,Binders,2.5440,3,-3.8160,2015,11
24,CA-2015-106320,2015-09-25,EB-13870,Consumer,Furniture,Tables,1044.6300,3,240.2649,2015,9
...,...,...,...,...,...,...,...,...,...,...,...
9964,CA-2015-103772,2015-06-28,MP-17470,Home Office,Office Supplies,Binders,119.5600,2,54.9976,2015,6
9965,CA-2015-103772,2015-06-28,MP-17470,Home Office,Office Supplies,Art,140.7500,5,42.2250,2015,6
9974,US-2015-151435,2015-09-06,SW-20455,Consumer,Furniture,Tables,85.9800,1,22.3548,2015,9
9978,CA-2015-100251,2015-05-17,DV-13465,Consumer,Office Supplies,Labels,31.5000,10,15.1200,2015,5
9979,CA-2015-100251,2015-05-17,DV-13465,Consumer,Office Supplies,Supplies,55.6000,4,16.1240,2015,5